<h1> Create New Recipe </h1>
<form method="POST" action="/recipes">
<h2>Name: <input type="text" id="name" name="name"></h2>
<h2>Ingredients: <input type="text" id="ingredients" name="ingredients"></h2>
<h2>Cook Time: <input type="text" name="cook_time"></h2>
<input type="submit" value="Create!">
</form> 